html,
body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

.content-wrapper {
    box-sizing: border-box;
    padding: 0.5em 2em;
    width: 100%;
    background-color: white;
}
  
@media screen and (min-width: 800px) {
    .content-wrapper {
        margin: 0 auto;
        width: 800px;
    }
}

h1,
h2,
h3,
.center {
    text-align: center;
}

h1,
h2,
h3 {
    font-family: "Arial", sans-serif;
}

h1 {
    margin-bottom: 1.5em;
}

h2 {
    font-size: 1.2em;
}

section {
    margin-top: 4em;
}

main {
    margin: 0 auto;
    max-width: 450px;
    text-align: justify;
}

.intro {
    margin: 2em 0;
}

.icon-group {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icon-group a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cv-icon {
    width: 40px;
}

.icon-group a span {
    margin-top: 5px;
}

#github-logo {
    width: 100px;
}

#linkedin-logo {
    width: 120px;
}
