html,
body {
    margin: 0;
    padding: 0;
}

main {
    box-sizing: border-box;
    padding: 50px 50px 0;
    width: 100%;
}
  
@media screen and (min-width: 800px) {
    main {
        margin: 0 auto;
        width: 800px;
    }
}

svg {
    width: 40px;
}

.cv, .social-links {
    display: flex;
    flex-direction: row;
}

.cv a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.github-logo {
    width: 100px;
}

.linkedin-logo {
    width: 120px;
}

.email {
    font-weight: bold;
}