@keyframes colorRotate {
  0% {
    background-color: #f0f8fff7;
  }
  50% {
    background-color: #fff0fff7;
  }
  100% {
    background-color: #f0f8fff7;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  animation: colorRotate 30s linear infinite;
  font-family: Poppins, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

canvas {
  position: absolute;
  z-index: -2;
}

header,
main,
aside {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  background-color: #ffffff5c;
}

@media screen and (min-width: 800px) {
  header,
  main,
  aside {
    margin: 0 auto;
    width: 800px;
  }
}

header {
  padding-top: 0.5rem;
}

main,
aside {
  padding-top: 2rem;
  padding-bottom: 0.5rem;
}

h1,
h2,
h3,
.center {
  text-align: center;
}

h1,
h2,
h3 {
  font-family: Merriweather, serif;
}

h1 {
  margin-bottom: 0;
}

h2 {
  font-size: 1.2rem;
}

section {
  margin-top: 4rem;
}

aside section:first-child {
  margin-top: 0;
}

main > * {
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
  text-align: justify;
}

.icon-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.icon-group a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv-icon {
  width: 40px;
}

.icon-group a span {
  margin-top: 5px;
}

#github-logo {
  width: 100px;
}

#linkedin-logo {
  width: 120px;
}
